<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MozanMap"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.firebase.database.url"
            android:value="https://your-database-name.firebaseio.com" />
        <meta-data
            android:name="com.google.firebase.analytics.collection.enabled"
            android:value="true" />
        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <!-- ClassActivity -->
        <activity
            android:name=".ClassActivity"
            android:exported="true">
        </activity>
        <!-- FoodActivity -->
        <activity
            android:name=".FoodActivity"
            android:exported="true">
        </activity>
        <!-- OtherActivity -->
        <activity
            android:name=".OtherActivity"
            android:exported="true">
        </activity>
        <!-- OtherActivity2 -->
        <activity
            android:name=".OtherActivity2"
            android:exported="true">
        </activity>
    </application>

</manifest>